/* ====================== FONTS ===================== */

@font-face {
	font-family: 'gogoia regular';
	src: url('../fonts/gogoia/gogoia-regular.otf') format('otf'),
		 url('../fonts/gogoia/gogoia-regular-webfont.woff2') format('woff2'),
         url('../fonts/gogoia/gogoia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: znikomit;
	src: url('../fonts/znikomit/Znikomit.otf') format('otf'),
         url('../fonts/znikomit/znikomit-webfont.woff2') format('woff2'),
         url('../fonts/znikomit/znikomit-webfont.woff') format('woff');
    font-style: normal;
}








/* ===================== NAVBAR ===================== */


nav {
	background-color: rgb(50,0,100); /*indigo*/;
	font-size: 1.8rem;
}

/*nav a img {
	position: abolute;
	margin: 0;
	padding:0;
	top: 0;
	left: 0;
	height: 173.13px;
	width: 100%;
}*/

nav ul {
	padding: 60px 0 0 80px;
	margin: 0;
}

nav ul li {
	font-family: 'gogoia regular', helvetica, arial, sans-serif;
	list-style: none;
	text-align: center;
	margin: 0;
	padding-right: 3%;
	display: inline-block;
	letter-spacing: 8px;
}

nav ul li a {
	text-decoration: none;
	color: rgb(252,251,227); /*cream*/
}

nav ul li a:hover {
	text-decoration: none;
	color: rgb(120,120,120); /*silver*/
	border-bottom: 2px solid;
	border-top: 2px solid;
}

nav ul li a:active {
	color: #000;
	border-bottom: 2px solid;
	border-top: 2px solid;
}








/* ===================== NAVBAR ===================== */

.bs-icon {
	
}