/*
/*rgb(120,120,120); /*silver*/
/*rgb(252,251,227); /*cream*/
/*rgb(50,0,100); /*indigo*/
/*





/* ====================== FONTS ===================== */

@font-face {
	font-family: 'gogoia regular';
	src: url('../fonts/gogoia/gogoia-regular.otf') format('otf'),
		 url('../fonts/gogoia/gogoia-regular-webfont.woff2') format('woff2'),
         url('../fonts/gogoia/gogoia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: znikomit;
	src: url('../fonts/znikomit/Znikomit.otf') format('otf'),
         url('../fonts/znikomit/znikomit-webfont.woff2') format('woff2'),
         url('../fonts/znikomit/znikomit-webfont.woff') format('woff');
    font-style: normal;
}








/* ===================== NAVBAR ===================== */

nav ul li {
	font-family: 'gogoia regular';
	list-style: none;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 50px 0 50px 7%;
	border-radius: 20px 20px 0 0;
}

nav ul li {
	display: inline-block;
	padding-right: 50px;
}

nav ul li a {
	text-decoration: none;
	color: rgb(252,251,227); /*cream*/
}

nav ul li a:hover {
	color: rgb(120,120,120); /*silver*/
	border-bottom: 2px solid;
	border-top: 2px solid;
}

nav ul li a:active {
	color: #000;
	border-borrom: 2px solid;
	border-top: 2px solid;
}

.navbar {
	background-color: rgb(50,0,100); /*indigo*/;
}





/* =================== MAIN STYLES ================== */

h1, h2, h3 {
	font-family: 'gogoia regular';
}

p {
	font-family: znikomit;
}

body {
	background-color: rgb(120,120,120); /*silver*/);
}

.main-div {
	background-color: rgb(252,251,227); /*cream*/
}





/* =====================  LAYOUT ==================== */

b {}