
/* rgb(120,120,120); /* silver */
/* rgb(252,251,227); /* cream */
/* rgb(50,0,100); /* indigo */
/*





/* ====================== FONTS ===================== */

@font-face {
	font-family: 'gogoia regular';
	src: url('../fonts/gogoia/gogoia-regular.otf') format('otf'),
		 url('../fonts/gogoia/gogoia-regular-webfont.woff2') format('woff2'),
         url('../fonts/gogoia/gogoia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: znikomit;
	src: url('../fonts/znikomit/Znikomit.otf') format('otf'),
         url('../fonts/znikomit/znikomit-webfont.woff2') format('woff2'),
         url('../fonts/znikomit/znikomit-webfont.woff') format('woff');
    font-style: normal;
}








/* ===================== NAVBAR ===================== */

/*
nav {
	background-color: rgb(50,0,100); /*indigo*/
/*	border-radius: 20px 20px 0 0;
	font-size: 1.8rem;
}

nav a img {
	position: abolute;
	margin: 0;
	padding:0;
	top: 0;
	left: 0;
	height: 173.13px;
	width: 100%;
	border-radius: 20px 0 0 0;
}

nav ul {
	padding: 60px 0 0 80px;
	margin: 0;
}

nav ul li {
	font-family: 'gogoia regular', helvetica, arial, sans-serif;
	list-style: none;
	text-align: center;
	margin: 0;
	padding-right: 3%;
	display: inline-block;
	letter-spacing: 8px;
}

nav ul li a {
	text-decoration: none;
	color: rgb(252,251,227); /*cream*/
/*}

nav ul li a:hover {
	text-decoration: none;
	color: rgb(120,120,120); /*silver*/
/*	border-bottom: 2px solid;
	border-top: 2px solid;
}

nav ul li a:active {
	color: #000;
	border-bottom: 2px solid;
	border-top: 2px solid;
}
*/



/* MAX NAV CODE */

.flex-container{
    margin: 0;
    padding:0;
    display: inline-flex;
    list-style: none;
    width:100%;
    background-color: rgb(50,0,100);
    
}

#flex-image {
    style="flex: 1;"
}

#flex-list {
    flex: 3;
    align-self: center;
}

.flex-list-item a {
    font-family: 'gogoia regular';
    color: rgb(252,251,227);
    text-decoration: none;
}

.flex-list-item a:hover {
    text-decoration: none;
    color: rgb(120,120,120); /*silver*/
	border-bottom: 2px solid;
	border-top: 2px solid; 
}

.flex-list-item a:




/*nav ul li {
	font-family: 'gogoia regular';
	list-style: none;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 50px 0 50px 0;
}

nav ul li {
	display: inline-block;
	padding-right: 50px;
	font-size: 2rem;
	letter-spacing: 8px;
}

nav ul li a {
	text-decoration: none;
	color: rgb(252,251,227); 
}

nav ul li a:hover {
	text-decoration: none;
	color: rgb(120,120,120); 
	border-bottom: 2px solid;
	border-top: 2px solid;
}

nav ul li a:active {
	color: #000;
	border-borrom: 2px solid;
	border-top: 2px solid;
}

nav {
	background-color: rgb(50,0,100); 
	border-radius: 20px 20px 0 0;
}*/





/* =================== MAIN STYLES ================== */


h1, h2, h3, h4, h5, h6 {
	font-family: 'gogoia regular', helvetica, arial, sans-serif;
	font-weight: bold;
	letter-spacing: 8px;
}

p {
	font-family: znikomit, helvetica, arial, sans-serif;
	font-weight: bold;
}

body {
	background-color: rgb(120,120,120); /* silver */;
}

.main-div {
	background-color: rgb(252,251,227); /*cream*/
	border-radius: 0 0 20px 20px;
}

.blockquote {
	color: rgb(50,0,100);
	font-size: 1.7rem;
	font-weight: bold;
}

.blockquote-footer {
	color: rgb(50,0,100);
}

.social-media {
	list-style: none;
	padding: 50px 0 0 20px;
}

.social-media li {
	display: inline-block;
	padding-left: 35px;
}










/* =====================  LAYOUT  ==================== */

/*.container {
	margin-top: 0; 
	border-radius: 20px;
}*/










/* ==================  MEDIA QUERIES  ================= */

/*@media (min-width: 992px) and (max-width: 1199px) {
	nav ul li {
		font-size: 1.5rem;
		text-align: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	nav ul {
		padding-left: 0;
		padding-top: 0;
	}
	nav ul li {
		text-align: center;
		margin: 0;
		padding: 10px;
		padding-right: 30px;
		display: block;
		font-size: 1rem;
	}
}

@include media-breakpoint-up @media (max-width: 767px) {
	body {
		padding: 0;
	}
	nav ul li {
		font-size: .5rem;
		padding: 0;

	}
	nav,
	nav a img,
	.main-div {
		border-radius: 0;
	}
}*/

/* M E D I A  Q U E R Y  F U N */ 
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/*@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}